::-webkit-input-placeholder { color: white; } 
:-moz-placeholder { /* Firefox 18- */ color: white; } 
::-moz-placeholder { /* Firefox 19+ */ color: white; } 
:-ms-input-placeholder { color: white; }

body, html { overflow-x:hidden; }
/* Mobile device*/
@media (max-width: 768px){
    
    .p1-body-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 100%;
    }
    .container125{
        display: none;
    }
}
/* Desktop device*/
@media (min-width: 769px){
    .container124{
        display: none;
    }

    .p1-body-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    background-color: rgb(242,239,231);;
}

/* HOME - BODY */

.a2 {
    background: rgba(22, 98, 105, 0.3);
    transition: 0.4s ease-in-out;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: 750;
    margin-top: auto;
    border: 3px solid white;
    border-radius: 2px;
}

.a2:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #166269;
}


.hasDatepicker {
    background: rgba(22, 98, 105, 0.3);;
    border: solid 3px white;
    border-radius: 2px;
    font-size: 14px;
    height: 42px;
    padding: 5px;
    width: 70%;
    color: white;
    font-weight: bold;
    text-align: center;
}

select {
    background: rgba(22, 98, 105, 0.3);
    border: solid 3px white;
    border-radius: 2px;
    font-size: 14px;
    height: 55px;
    padding: 5px;
    width: 70%;
    color: white;
    font-weight: bold;
    text-align: center;
}

option {
    background: white;
    border: solid 3px white;
    border-radius: 2px;
    font-size: 10px;
    padding: 5px;
    width: 150px;
    color: black;
    font-weight: bold;
    text-align: center;
    background: rgba(22, 98, 105, 0.3);
}
select::placeholder{
    text-align: center;
}
#slide4{
    background: rgba(22, 98, 105, 0.3);
}

.slider-form-items {
    color: white;
}

.slider-column-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
}

.c2{
    width: 100%;
    height: 500px;
    margin: 0;
}

.slider-form {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    background: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 5;
    align-items: center;
    top: 10%;
}
#slide1 { grid-area: 1 / 1 / 2 / 2; }
#slide2 { grid-area: 1 / 2 / 2 / 3; }
#slide3 { grid-area: 2 / 1 / 3 / 3; }
#slide4 { grid-area: 3 / 1 / 4 / 3; }

.slider-form h1 {
    background: none;
    margin: auto;
}

.body-container {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.p1-div1 {
    text-align: center;
    margin: auto;
}

.p1-div1 img {
    width: 90%;
    height: auto;
}

.body-row {
    display:flex;
    flex-direction: row;
}

.body-border {
    width: 50%;
    height: 100%;
    margin: 2%;
}

.body-border img{
    float: right;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.body-border p {
    text-align: justify;
    padding: 10px;
}

/* MISSATGES ERROR i OK */

.bad {
    width: 100%;
    position: absolute;
    background:rgba(252, 57, 57, 0.671);
    top: 123.5px;
    z-index: 100;
    text-align: center;
}

.good {
    width: 100%;
    position: absolute;
    background:rgba(70, 255, 33, 0.671);
    top: 123.5px;
    z-index: 100;
    text-align: center;
}
