/* GENERAL */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    background-color: #F5F5F5;
}

/* HEADER & NAVBAR */

.title {
    color: black;
    text-align: center;
}

#home {
    grid-area: 1 / 1 / 2 / 2;
    transition: 0.4s ease-in-out;
}

#hotel { 
    grid-area: 1 / 2 / 2 / 3;
    transition: 0.4s ease-in-out; 
}

#rooms { 
    grid-area: 1 / 3 / 2 / 4;
    transition: 0.4s ease-in-out;
}
#contact { 
    grid-area: 1 / 4 / 2 / 5;
    transition: 0.4s ease-in-out;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(242,239,231);
}


.header-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(242,239,231);
    overflow: hidden;
}
  
.header-nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.header-nav a:hover {
    background-color: #166269;
    color: white;
}
  
.header-nav a.active {
    background-color: #166269;
    color: white;
}

.nav-items {
    width: 22.02%;
}

/* HOME - BODY */

.a2 {
    transition: 0.4s ease-in-out;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: 750;
    margin-top: auto;
    border: 2px solid white;
    border-radius: 5px;
}

.a2:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #166269;
}

.slider-container {
    display: flex;
    z-index: 5;
    align-items: center;
    top: 0
}

select {
    background: rgb(255,255,255,0);
    border: solid 1px white;
    border-radius: 2px;
    font-size: 14px;
    height: 42px;
    padding: 5px;
    width: 150px;
    color: white;
}

.slider-form-items {
    color: white;
}

.slider-column-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
}

.slider-container img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider-form {
    left: 10%;
    right: 10%;
    display: flex;
    position: absolute;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    background: none;
    justify-content: space-between;
}

.slider-form h1 {
    background: none;
    margin: auto;
}

.body-container {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.p1-body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.p1-div1 {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0.5%;
}

.p1-div1 img {
    width: 500px;
}

.p1-div2 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0.5%;
}

.p1-div2 p {
    width: 100%;
}

.body-row {
    display:flex;
    flex-direction: row;
}

.body-border {
    width: 50%;
    height: 100%;
    margin: 2%;
}

.body-border img{
    float: right;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.body-border p {
    text-align: justify;
    padding: 10px;
}

/* ROOMS - BODY */

.p2-body-container {
    margin-top:10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.room-images {
    object-fit: cover;
    object-position: center center;
}

.p2-gray-body-row {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #F5F5F5;
}

.p2-green-body-row {
    width: 100%;
    display:flex;
    flex-direction: row;
    background: #166269;
}

.p2-black-body-row p {
    color: #F5F5F5;
}

.p2-body-border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #166269;
    text-transform: uppercase;
    color: #166269;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 35%;
}

.a:before {
    content: '';
    position: absolute;
    top: 6px;
    Left: -2px;
    width: calc(100% + 5px);
    height: calc(100% - 12px);
    background: #F5F5F5;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}

.a:hover:before {
    transform: scaleY(0);
}

.a:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #F5F5F5;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.a:hover:after {
    transform: scaleX(0);
}

.a span {
    position: relative;
    z-index: 3;
}


.a1 {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #F5F5F5;
    text-transform: uppercase;
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 35%;
}

.a1:before {
    content: '';
    position: absolute;
    top: 6px;
    Left: -2px;
    width: calc(100% + 5px);
    height: calc(100% - 12px);
    background: #166269;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}

.a1:hover:before {
    transform: scaleY(0);
}

.a1:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #166269;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.a1:hover:after {
    transform: scaleX(0);
}

.a1 span {
    position: relative;
    z-index: 3;
}

.rooms-title {
    text-align: center;
}


/* CONTACT - BODY */

.p3-body-container {
    margin-top:10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    align-items: center;
}

.form {
    height: 15px;
}

.f1 {
    margin: auto;
}

.contact-body-row {
    display:flex;
    flex-direction: row;
    margin:10px;
}

.map {
    margin-top:5%;
}

/* FOOTER MENU */

footer {
    width: 100%;
}

.footer-nav {
    background:#166269;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    list-style: none;
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

a {
    color: #F5F5F5;
    text-decoration: none;
}

/* PAGINA LOGIN */

.login-div {
    display: flex;
    flex-direction: column;
}