/* GENERAL */

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    background-color: #F5F5F5;
}

/* HEADER & NAVBAR */

.title {
    color: black;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F5F5F5;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #F5F5F5;
}

.header-nav {
    background-color: #F5F5F5;
    overflow: hidden;
}
  
.header-nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.header-nav a:hover {
    background-color: #166269;
    color: white;
}
  
.header-nav a.active {
    background-color: #166269;
    color: white;
}

.nav-items {
    width: 22.02%;
}

/* HOME - BODY */

.slider-container {
    display: flex;
    z-index: 5;
    align-items: center;
    top: 0
}

.slider-container img{
    width: 100%;
    margin: auto;
}

.slider-form {
    left: 10%;
    right: 10%;
    display: flex;
    position: absolute;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    background: none;
}

.slider-form h1 {
    background: none;
    margin: auto;
}

.body-container {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.body-row {
    display:flex;
    flex-direction: row;
}

.body-border {
    width: 50%;
    height: 100%;
}

.body-border img{
    float: right;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.body-border p {
    text-align: justify;
    padding: 10px;
}

/* ROOMS - BODY */

.p2-body-container {
    margin-top:10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.room-images {
    object-fit: cover;
    object-position: center center;
}

.p2-gray-body-row {
    width: 100%;
    display:flex;
    flex-direction: row;
    background: #F5F5F5;
}

.p2-green-body-row {
    width: 100%;
    display:flex;
    flex-direction: row;
    background: #166269;
}

.p2-black-body-row p {
    color: #F5F5F5;
}

/* CONTACT - BODY */

.p3-body-container {
    margin-top:10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    align-items: center;
}

.form {
    height: 15px;
}

.f1 {
    margin: auto;
}

.contact-body-row {
    display:flex;
    flex-direction: row;
    margin:10px;
}